body{
  background-color: #caccc7;
}

h1{
  color: rgb(101, 123, 160);
  border: 2px solid red;
  font-family: 'Chela One', cursive;
}

.className{

}

#Bio{
  /*background-color: rgb(159, 221, 66);*/
}

img{
  float: right;
}

header{
  border: 3px dotted red;
}
nav{

}

.centerText{

}

.imgCaption{

}
